body {
    color: #212529;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

a {
    color: #212529;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: #d73f09;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.mainSection, .lowerSection {
    padding: 50px;
}

.midSection {
    background-color: #f7f5f5;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 20px;
}

.btn {
    background-color: #f7f5f5;
    border: none;
    border-radius: 8px;
    color: #d73f09;
    font-size: 16px;
    font-weight: semi-bold;
    padding: 10px 15px;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color: #e8e3e3;
    cursor: pointer;
}

.toggleBtnContainer {
    background-color: #ffffff;
    border: 1px solid #c6ccd2;
    border-radius: 20px;
    margin: 0 auto 20px auto;
    padding: 5px;
    width: fit-content;
}

.toggleBtn {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color: #d73f0950;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
}

.toggleBtn:hover {
    color: #d73f09;
    cursor: pointer;
}

.toggleBtn.selected {
    background-color: #d73f09;
    color: #ffffff;
}

.hintBtn {
    background-color: #ffffff;
    border: 2px solid #d73f09;
    color: #212529;
    font-weight: bold;
}

.hintBtn:hover {
    background-color: #ffffff;
    color: #d73f09;
    cursor: pointer;
}

.sessionToggleBtn {
    margin-bottom: 10px;
}

.content {
    display: none;
    border: 3px solid #c6ccd2;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.content.show {
    display: block;
}

.errorMsg {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.successMsg {
    color: #3F6C51;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.directions {
    border-top: 2px solid #d73f09;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.directions ul {
    list-style-type: none;
}

.directions ul li {
    padding: 10px;
}

.warning {
    border-left: 3px solid #d73f09;
    background-color: #feede7;
}

.form {
    border: 2px solid #d73f09;
    border-radius: 8px;
    margin: 0 auto;
    padding: 30px;
    width: fit-content;
}

.formDiv {
    margin-bottom: 15px;
}

.formDiv input {
    width: 100%;
}

.navbar {
    background-color: #f7f5f5;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navlink {
    min-width: 125px;
    text-align: center;
}

.navlink:first-of-type {
    text-align: left;
}

.acctTable {
    border-collapse: collapse;
    margin: 40px auto;
}

.acctTable th {
    width: 120px;
    border-bottom: 2px solid #d73f09;
}

.acctTable td {
    padding: 5px 0;
    text-align: center;
}
