<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WSRP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        {% if current_user %}
        <!-- Nav bar for logged in user -->
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="{{ url_for('database') }}">Database</a>
            </nav>
        {% else %}
        <!-- Nav bar when no user is logged in -->
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('database') }}">Database</a>
            </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 WSRP - OSU CS 467</p>
    </footer>
</body>
</html>
