<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
              content="A web application demonstrating and documenting common vulnerabilities and attacks as part of a research project.">
        <meta name="keywords"
              content="web security, cybersecurity, vulnerabilities, web attacks, research project">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WSRP</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            {% if current_user %}
                <!-- Nav bar for logged in user -->
                <nav class="navbar">
                    <a class="navlink" href="{{ url_for('home') }}">Home</a>
                    {% if current_user.role.value == "admin" %}
                        <a class="navlink" href="{{ url_for('admin.admin') }}">Admin Accounts</a>
                    {% else %}
                        <a class="navlink" href="{{ url_for('account.accounts') }}">Accounts</a>
                    {% endif %}
                    <a class="navlink" href="{{ url_for('logout') }}">Logout</a>
                </nav>
            {% else %}
                <!-- Nav bar when no user is logged in -->
                <nav class="navbar">
                    <a class="navlink" href="{{ url_for('home') }}">Home</a>
                    <a class="navlink" href="{{ url_for('account.accounts') }}">Accounts</a>
                    <div class="navlink">
                        <a href="{{ url_for('login.login') }}">Login</a>
                        |
                        <a href="{{ url_for('register.register') }}">Register</a>
                    </div>
                </nav>
            {% endif %}
        </header>
        <main>
            {% block content %}
            {% endblock content %}
            {% block scripts %}
                <script src="{{ url_for('static', filename='js/script.js') }}"></script>
            {% endblock %}
        </main>
        <footer>
            <p>Copyright © 2026 WSRP - OSU CS 467</p>
        </footer>
    </body>
</html>
