{% extends "base.html" %}

{% block content %}

{% if current_user %}
    <h1>{{current_user.first_name}}'s Accounts</h1>
{% else %}
    <h1>Example's Accounts</h1>
{% endif %}

<table class="acctTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Acct Number</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% if current_user %}
            {% if all_accts %}
                 <!-- All data to display when logged in user is admin -->
                {% for acct in all_accts %}
                    <tr>
                        <td>{{ acct.user.first_name }} {{ acct.user.last_name }}</td>
                        <td>{{ acct.number }}</td>
                        <td>{{ acct.balance }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <!-- Data for currently logged in user -->
                {% for acct in current_user.account %}
                    <tr>
                        <td>{{ acct.name }}</td>
                        <td>{{ acct.number }}</td>
                        <td>{{ acct.balance }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% else %}
        <!-- Example data to display when no user is logged in -->
            <tr>
                <td>Bank 1</td>
                <td>1480</td>
                <td>100.00</td>
            </tr>
            <tr>
                <td>Bank 2</td>
                <td>2467</td>
                <td>120.00</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}