{% extends "base.html" %}
{% block content %}
    <h1>Website Security Research Project</h1>
    <div>
        <p>This website is an educational research project meant to expose common vulnerabilities for web attacks.</p>
        <div class="directions">
            <ul>
                <li>Register as a new user or login as an existing user provided in the sample data.</li>
                <li>Navigate to Accounts to enter and view user account data.</li>
            </ul>
            <a href="https://github.com/burkeOSU/cs467wsrp" target="_blank">GitHub</a>
        </div>
    </div>
{% endblock content %}
