{% extends "base.html" %}
{% block content %}
    <div class="mainSection">
        <h1>Website Security Research Project</h1>
        <div>
            <p>This website is an educational research project meant to expose common vulnerabilities for web attacks.</p>
            <div class="directions">
                <ul>
                    <li>
                        <a href="{{ url_for("register") }}">Register</a> as a new user or
                        <a href="{{ url_for("login") }}">login</a> as an existing user provided in the sample data.
                    </li>
                    <li>Navigate to <a href="{{ url_for("accounts") }}">Accounts</a> to enter and view user account data.
                    </li>
                    <li class="warning">Warning: This site is for educational purposes.
                        Do not store sensitive data as it could be at risk.
                    </li>
                </ul>
                <a href="https://github.com/burkeOSU/cs467wsrp" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
{% endblock content %}
