{% extends "base.html" %}
{% block content %}
    <div class="mainSection">
        <h1>Website Security Research Project</h1>
        <div>
            <p>This website is an educational research project meant to expose common vulnerabilities for web attacks.</p>
            <div class="directions">
                <ul>
                    <li>
                        <a href="{{ url_for("register.register") }}">Register</a> as a new user or
                        <a href="{{ url_for("login.login") }}">login</a> as an existing user provided in the sample data.
                    </li>
                    <li>
                        Navigate to <a href="{{ url_for("account.accounts") }}">Accounts</a> to enter and view user account data.
                    </li>
                    <li class="warning">
                        Warning: This site is for educational purposes.
                        Do not store sensitive data as it could be at risk.
                    </li>
                </ul>
                <a href="https://github.com/burkeOSU/cs467wsrp" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
    {% include 'components/hint.html' %}
    <div class="lowerSection">
        <div id="hintContent" class="content">
            <h2>Attack Hints</h2>
            <div class="directions">
                <ul>
                    <li>
                        The Attack Hint button will display the name of the attack you should attempt, as well as a clue to perform it.
                    </li>
                </ul>
            </div>
        </div>
        <div id="explainContent" class="content">
            <h2>Explanations</h2>
            <div class="directions">
                <ul>
                    <li>The Explanation button will provide a link to the page and attack's README documentation.</li>
                    <li>The README will provide information on how to perform the attack,</li>
                    <li>the vulnerable code that allows the attack to occur,</li>
                    <li>and how the hardened code prevents the attack from occuring again.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
