{% from 'components/macros.html' import security_toggle %}

{% extends "base.html" %}
{% block content %}
    <h1>Login</h1>
    <form class="form" action="{{ url_for("login") }}" method="post">
        {{ security_toggle() }}
        <div class="formDiv">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div class="formDiv">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="btnContainer">
            <button type="submit" class="btn">Sign In</button>
        </div>
    </form>
    {% if error %}
        <div class="errorMsg">{{ error }}</div>
    {% endif %}
{% endblock content %}
