{% from "components/toggle.html" import toggle %}
{% extends "base.html" %}
{% block content %}
    <div class="mainSection">
        <h1>Login</h1>
        <form class="form" action="{{ url_for('login.login') }}" method="post">
            {{ toggle(security) if security else toggle("vulnerable") }}
            <div class="formDiv">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required />
            </div>
            <div class="formDiv">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div class="btnContainer">
                <button type="submit" class="btn">Sign In</button>
            </div>
        </form>
        {% if error %}
            <div class="errorMsg">{{ error }}</div>
        {% endif %}
    </div>
    {% include 'components/hint.html' %}
    <div class="lowerSection">
        <div id="hintContent" class="content">
            <p>This is hint content.</p>
        </div>
        <div id="explainContent" class="content">
            <p>This is explanation content.</p>
        </div>
    </div>
{% endblock content %}
