{% from "components/toggle.html" import toggle %}
{% extends "base.html" %}
{% block content %}
    <div class="mainSection">
        <h1>New Account</h1>
        <form class="form"
              action="{{ url_for("account.new_account") }}"
              method="post">
            {{ toggle(security) if security else toggle("vulnerable") }}
            <div class="formDiv">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" />
            </div>
            <div class="formDiv">
                <label for="number">Number</label>
                <input type="text" id="number" name="number" />
            </div>
            <div class="formDiv">
                <label for="balance">Balance</label>
                <input type="number" step="0.01" min="0.00" id="balance" name="balance" />
            </div>
            <div class="btnContainer">
                <button type="submit" class="btn">Add Account</button>
            </div>
        </form>
        {% if success %}
            <div class="successMsg">{{ success }}</div>
        {% endif %}
        {% if error %}
            <div class="errorMsg">{{ error }}</div>
        {% endif %}
    </div>
    {% include 'components/hint.html' %}
    <div class="lowerSection">
        <div id="hintContent" class="content">
            <h2>Error-Based SQL Injection</h2>
            <div class="directions">
                <ul>
                    <li>
                        Enter the following in the Name field:
                        <br>
                        ' or ExtractValue(1, concat(':', (SELECT password_hash FROM users WHERE role='admin' LIMIT 1))) or '
                    </li>
                    <li>Fill out the remainder of the form, then submit.</li>
                </ul>
            </div>
        </div>
        <div id="explainContent" class="content">
            <h2>Error-Based SQL Injection</h2>
            <div class="directions">
                <ul>
                    <li>
                        See the
                        <a href="https://github.com/burkeOSU/cs467wsrp/blob/main/docs/README_ErrBasedSQLi.md"
                           target="blank">README</a>
                        file for a detailed explanation.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
