{% macro toggle(security) %}
    <div class="toggleBtnContainer">
        <button class="toggleBtn {{ 'selected' if security == 'vulnerable' }}"
                type="button"
                data-value="vulnerable">
                Vulnerable
        </button>
        <button class="toggleBtn {{ 'selected' if security == 'hardened' }}"
                type="button"
                data-value="hardened">
                Hardened
        </button>
    </div>
    <input type="hidden"
            id="securityChoice"
            name="security_choice"
            value="{{ security }}">
{% endmacro %}