{% macro toggle(security) %}
<div class="toggleBtnContainer">
        <label class="toggleBtn {{ 'selected' if security == 'vulnerable' }}">
                <input type="radio"
                        name="security_choice"
                        value="vulnerable"
                        {{ 'checked' if security == 'vulnerable' }}>
                Vulnerable
        </label>
        <label class="toggleBtn {{ 'selected' if security == 'hardened' }}">
                <input type="radio"
                        name="security_choice"
                        value="hardened"
                        {{ 'checked' if security == 'hardened' }}>
                Hardened
        </label>
</div>
{% endmacro %}